@use "~sass/vars"

.tempo-root
  background-color: vars.$LIGHT_GRAY
  border-radius: 1.5rem
  padding: 0.75rem 1.5rem

  p
   margin: 0 0 0.75rem 0
   text-align: center

  div
    display: flex
    justify-content: center
    align-items: center

    img, img+span
      padding: 0.25rem
    img, span>span
      cursor: pointer

    img
      height: 1.5em

    img+span
      font-size: 1.3em
