@use "~sass/vars"

$TAP_BUTTON_SIZE: 8rem

$CONTROLS_HEIGHT: 12rem

$BUTTON_SIZE: 3rem

:host
  display: flex
  flex-direction: column
  width: 100%
  flex-grow: 1
  max-height: 100vh


section
  width: 100%

#tracks
  padding: 0.5rem 0
  overflow-y: auto
  overflow-x: hidden
  scroll-behavior: smooth
  max-height: calc(100vh - $CONTROLS_HEIGHT)

#controls
  margin-top: auto
  margin-bottom: 2rem
  padding-top: 0.5rem
  display: flex
  height: $CONTROLS_HEIGHT
  align-items: center

  &>div
    flex-grow: 1

  button
    height: $BUTTON_SIZE
    width: $BUTTON_SIZE

    &>img
      height: 100%
      width: 100%

  #generals, #measure-and-track
    width: calc(100% - 3.5rem)
    // = 100% - $TAP_BUTTON_SIZE / 2 - 0.5rem

  #generals
    display: flex
    justify-content: space-evenly
    margin-right: 0.5rem

    &>div
      flex-grow: 1
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
    &>div:nth-child(1), &>div:nth-child(2)
      margin: 2rem 0

      .anacrouse
        width: 6rem

    app-signature
      margin-bottom: 0.5rem

  #start-button, #tap-button
    height: $TAP_BUTTON_SIZE
    width: $TAP_BUTTON_SIZE

    border-width: 0.75rem
    border-style: solid
    border-radius: 50%
    flex-shrink: 0

  #start-button
    font-size: 1.8em
    border-color: vars.$ORANGE

  #tap-button
    font-size: 2.4em
    border-color: vars.$RED

  #measure-and-track
    margin-left: 0.5rem
    display: flex
    justify-content: flex-end
