<h1 class="hide">Créer une polyrythmie</h1>

<section id="tracks">
  <app-track *ngFor="let track of tracks" [track]="track" [isPlaying]="isPlayingTracks" [signature]="signature" [tempo]="tempo" (selectedTrack)="setSelectedTrackId($event)" (isPlayingOutput)="setIsPlayingTracks($event)"
            [ngClass]="{'selected' : track.getId() == selectedTrackId, 'recording' : recording && track.getId() == selectedTrackId}"></app-track>
  <app-create-track (create)="addTrack($event)"></app-create-track>
</section>

<section id="controls">
  <div id="generals">
    <div>
      <app-save-menu></app-save-menu>
      <app-export-menu></app-export-menu>
    </div>

    <div>
      <app-playbar [isPlaying]="isPlayingTracks" (playTracks)="setIsPlayingTracks($event)"></app-playbar>
      <div>
        <button class="anacrouse disabled"><img src="../../assets/images/icons/anacrusis.svg" alt="Anacrouse" /></button>
        <app-metronome-sound [tempo]="tempo" [signature]="signature" [isPlaying]="recording"></app-metronome-sound>
      </div>
    </div>

    <div>
      <app-signature (signatureOut)="setSignature($event)"></app-signature>
      <app-tempo (tempoOutput)="setTempo($event)"></app-tempo>
    </div>
  </div>

  <button *ngIf="!recording" id="start-button" (click)="toggleRecording()" [ngClass]="{'disabled': !selectedTrackId}" [style.animation]="" >START</button>
  <span *ngIf="waitingRecord" id="wait" [style.animation]="'record-timer '+ this.measureDuration * 2 +'s ease-in-out infinite'" ><span>WAIT</span></span>
  <button *ngIf="!waitingRecord && recording" id="tap-button" (click)="addNote($event)" (mousedown)="startTap($event)" (mouseup)="endTap($event)">TAP</button>

  <div id="measure-and-track">
    <div id="record-menu" *ngIf="recording">
      <button (click)="toggleRecording()"><span>STOP</span></button>
      <div>
        <span>Mesure : </span><span>{{ atMeasure() }}</span>
      </div>
    </div>
    <div id="measure" *ngIf="true && !recording">

    </div>
    <div id="track" *ngIf="selectedTrackId != null && !recording">
      <button><img src="../../assets/images/icons/delete.svg" alt="Supprimer" /></button>
      <button><img src="../../assets/images/icons/empty.svg" alt="Vider" /></button>
    </div>

  </div>
</section>
