@use "~sass/vars"

$TAP_BUTTON_SIZE: 8rem

$CONTROLS_HEIGHT: 12rem

:host
  display: flex
  flex-direction: column
  width: 100%
  flex-grow: 1
  max-height: 100vh


section
  width: 100%

#tracks
  padding: 0.5rem 0
  overflow-y: auto
  overflow-x: hidden
  scroll-behavior: smooth
  max-height: calc(100vh - $CONTROLS_HEIGHT)

#controls
  margin-top: auto
  margin-bottom: 2rem
  padding-top: 0.5rem
  display: flex
  height: $CONTROLS_HEIGHT
  align-items: center

  &>div
    flex-grow: 1


#start-button, #tap-button
  height: $TAP_BUTTON_SIZE
  width: $TAP_BUTTON_SIZE

  border-width: 0.75rem
  border-style: solid
  border-radius: 50%

  cursor: pointer

#start-button
  font-size: 1.8em
  border-color: vars.$ORANGE

#tap-button
  font-size: 2.4em
  border-color: vars.$RED
