<article (dblclick)="selectTrack()">
  <div class="soundPlan">
    <img (click)="changeSoundPlan()" *ngIf="track.getPlan() == 0"
      src="../assets/images/sound.svg" alt="Plan normal (non muet, non solo)" />
    <img (click)="changeSoundPlan()" *ngIf="track.getPlan() == 1"
      src="../assets/images/solo.svg" alt="Plan solo" />
    <img (click)="changeSoundPlan()" *ngIf="track.getPlan() == 2"
      src="../assets/images/mute.svg" alt="Plan muet" />
  </div>
  <div class="trackContent">
    {{ track.getNotes().length }}
  </div>
  <div [ngClass]="{'instrument': true, 'modify': modifyInstrument}">
    <span *ngIf="track.getInstrument() != ''; else placeholder" (click)="toggleModifyInstrument()">{{ track.getInstrument() }}</span>
    <ng-template #placeholder><span (click)="toggleModifyInstrument()">Défaut</span></ng-template>
    <div>
      <input [(ngModel)]="modifiableInstrument" value="track.getInstrument()" placeholder="instrument" #instruInput />
      <button (click)="toggleModifyInstrument()">➤</button>
    </div>
  </div>
</article>
