<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>Prise de rythme - Polyrythmique</title>
  <meta name="description" content="Créez les polyrythmies que vous imaginez ! Choisissez le rythme et la signature de votre projet. Créez vos pistes, choisissez leur instrument et enregistrez les. Personnalisez votre projet, puis enregistrez le sur votre ordinateur pour continuer à travailler dessus plus tard. Une fois terminé, exportez votre polyrythmie en pdf ou en MIDI, et le tours est joué !" />
</head>
<body>
  <h1>Polyrythmique</h1>
</body>
</html>
