<div  [ngClass]="{'metronome': true, 'run': isRunning}">
  <img src="../../assets/images/metronome/metronome-stick.svg" alt="Aiguillle du métronome" [style.animation]="'rotating '+ getMetronomeMovementLengthInSec() +'s ease-in-out infinite'" *ngIf="isRunning" />
  <img src="../../assets/images/metronome/metronome-stick.svg" alt="Aiguillle du métronome" *ngIf="!isRunning" />
</div>

<div class="controls">
  <app-tempo (tempoOutput)="setTempo($event)"></app-tempo>

  <div class="play">
    <button *ngIf="!isRunning"><img src="../../assets/images/icons/playbar/play.svg" (click)="start()" alt="Lancer" /></button>
    <button *ngIf="isRunning"><img src="../../assets/images/icons/playbar/pause.svg" (click)="stop()" alt="Pause" /></button>
  </div>

  <span *ngIf="!isModifyingInstrument" (click) = "toggleModifyInstrument()">{{ runningMetronome.getSoundName() }}</span>
<!--  <select *ngIf="isModifyingInstrument" id="instrumentSelector" onchange="getInstrument(this.value)">
    <option *ngFor="let instrument of getInstrumentList()" value="{{ instrument }}" label="{{ instrument }}" (onclick)="setInstrument(instrument)">this.value</option>
    <input type="submit" value="Validate"/>
  </select> -->

  <div *ngIf="isModifyingInstrument" class="list">
    <span class="selectInstrument" *ngFor="let instrument of getInstrumentList()" (click)="setInstrument(instrument)">{{this.instrument}} </span>
  </div>


</div>
