<h1 class="hide">Tableau de bord</h1>

<section class="create">
  <h2>Nouveau projet</h2>

  <div>
    <a routerLink="/rhythm">
      <h3>Polyrytmie simple</h3>
      <img src="../assets/images/rhythm.svg" alt="Créer une polyrythmie" />
    </a>

    <a routerLink="/rhythm-sound">
      <h3>Polyrytmie sur fond musical</h3>
      <img src="../assets/images/rhythm-sound.svg" alt="Créer une polyrythmie depuis une musique" />
    </a>
  </div>
</section>

<section>
  <h2>Ouvrir un projet</h2>
  <div>
    <div class="disabled">
      <h3>Depuis votre appareil</h3>
      <img src="../assets/images/polyrythm-file.svg" alt="Créer une polyrythmie" />
    </div>
  </div>
</section>
